.venv/
.cache/
files/00-prereqs/
files/00-foundations/
files/01-hardware/
files/02-algorithms/
files/03-quantum-ml/
files/04-quantum-chemistry/
files/05-hybrid-jobs/
files/lib/
files/wheels/*.whl
.jupyterlite.doit.db
